{{ define "main" }}
<div class="content-area custom-page">
    <main class="site-main">
        <div class="container medium">
            <div class="error-content">
                <div class="error-icon">
                    {{ partial "icons/not-found" . }}
                </div>
                <h1 class="error-title hero-header">Page not found</h1>
                <p class="error-body body-2 hero-desc">Looks like we're still cooking up something special!</p>
            </div>
        </div>
    </main>
</div>
{{ end }}
