{{ $bgStyle := "" }}
{{ with .background_color }}
    {{ $bgStyle = printf "background-color: %s;" . }}
{{ end }}

{{/* Logo Wall Section */}}
{{ if eq .type "logos" }}
<section class="section-container logo-board"{{ with $bgStyle }} style="{{ . | safeCSS }}"{{ end }}>
    {{ partial "components/section-title" (dict "title" .title) }}
    <div class="container medium logo-list">
        {{ .content | markdownify }}
    </div>
</section>
{{ end }}

{{/* Side Projects Section */}}
{{ if eq .type "side-projects" }}
<section class="section-container section-side-project{{ with .extra_class }} {{ . }}{{ end }}"{{ with $bgStyle }} style="{{ . | safeCSS }}"{{ end }}>
    {{ partial "components/section-title" (dict "title" .title "view_all_url" .view_all_url) }}
    <div class="cards content-3col gh-feed container medium">
        {{ range .content }}
            {{ partial "components/card-project" (dict "showVisual" true "isSmall" true "imageSizes" "80px" "context" .) }}
        {{ end }}
    </div>
</section>
{{ end }}

{{/* Resources Section */}}
{{ if eq .type "resource" }}
<section class="section-container section-tools">
    {{ partial "components/section-title" (dict "title" .title "view_all_url" .view_all_url) }}
    <div class="cards kg-grid kg-grid-4col gh-feed container medium">
        {{ range .content }}
            {{ partial "components/card-project" (dict "showVisual" true "isSmall" true "imageSizes" "80px" "context" .) }}
        {{ end }}
    </div>
</section>
{{ end }}

{{/* Blog Section */}}
{{ if eq .type "blog" }}
<section class="section-container section-blog"{{ with $bgStyle }} style="{{ . | safeCSS }}"{{ end }}>
    {{ partial "components/section-title" (dict "title" .title "view_all_url" .view_all_url) }}
    {{ $layout := $.Site.Params.blog_article_layout }}
    <div class="post-feed {{ if eq $layout "Card" }}expanded feed-card kg-grid kg-grid-3col{{ else if eq $layout "Expanded" }}expanded{{ else if eq $layout "Right thumbnail" }}expanded right-thumbnail{{ else if eq $layout "Text-only" }}expanded text-only{{ else if eq $layout "Minimal" }}minimal{{ end }} gh-feed container medium">
        {{ range .content }}
            {{ partial "loop" . }}
        {{ end }}
    </div>
</section>
{{ end }}

{{/* Case Studies Section */}}
{{ if eq .type "case-studies" }}
<section class="section-container case-study"{{ with $bgStyle }} style="{{ . | safeCSS }}"{{ end }}>
    {{ partial "components/section-title" (dict "title" .title "view_all_url" .view_all_url) }}
    <div class="cards kg-grid {{ if eq $.Site.Params.case_study_card_style "Full row" }}full-row u-gap-big{{ else }}kg-grid-2col{{ end }} container medium">
        {{ range .content }}
            {{ partial "components/card-project" (dict "showVisual" true "isOverlay" false "isLarge" false "isReverse" true "hideTags" true "imageSizes" "900px" "context" .) }}
        {{ end }}
    </div>
</section>
{{ end }}

{{/* Testimonials Section */}}
{{ if eq .type "testimonials" }}
<section class="section-container testimonials"{{ with $bgStyle }} style="{{ . | safeCSS }}"{{ end }}>
    {{ partial "components/section-title" (dict "title" .title) }}
    <div class="container medium">
        <div class="kg-width-content kg-grid kg-grid-3col">
            {{ .content | markdownify }}
        </div>
    </div>
</section>
{{ end }}

{{/* Static Banner Section */}}
{{ if eq .type "static-banner" }}
<section class="section-container static-banner"{{ with $bgStyle }} style="{{ . | safeCSS }}"{{ end }}>
    {{ partial "components/section-title" (dict "title" .title) }}
    <div class="container medium">
        <div class="kg-width-content content-3col">
            {{ .content | markdownify }}
        </div>
    </div>
</section>
{{ end }}

{{/* Static Text Section */}}
{{ if eq .type "static-text" }}
<section class="section-container static-text"{{ with $bgStyle }} style="{{ . | safeCSS }}"{{ end }}>
    {{ partial "components/section-title" (dict "title" .title) }}
    <div class="container medium">
        <div class="kg-width-content content-3col">
            {{ .content | markdownify }}
        </div>
    </div>
</section>
{{ end }}

{{/* Experiences Section */}}
{{ if eq .type "experiences" }}
<section class="section-container experiences"{{ with $bgStyle }} style="{{ . | safeCSS }}"{{ end }}>
    {{ partial "components/section-title" (dict "title" .title) }}
    <div class="container medium">
        {{ range .content }}
            {{ partial "components/experience" . }}
        {{ end }}
    </div>
</section>
{{ end }}

{{/* Books Section */}}
{{ if eq .type "books" }}
<section class="section-container books"{{ with $bgStyle }} style="{{ . | safeCSS }}"{{ end }}>
    {{ partial "components/section-title" (dict "title" .title "view_all_url" .view_all_url) }}
    <div class="cards kg-grid kg-grid-4col container medium">
        {{ range .content }}
            {{ partial "components/card-project" (dict "showVisual" true "isPost" true "isBook" true "isOverlay" false "isLarge" false "hideTags" true "imageSizes" "340px" "context" .) }}
        {{ end }}
    </div>
</section>
{{ end }}
