<section class="section-container newsletter-signup">
    <div class="container medium">
        <div class="newsletter-box">
            <p class="newsletter-text">{{ default "Subscribe to my monthly newsletter" .Site.Params.email_signup_text }}</p>
            <form class="newsletter-form" onsubmit="return submitNewsletter(event)">
                <div class="newsletter-form-wrapper">
                    <input type="email" name="email" class="newsletter-input" id="nl-email" placeholder="Your email address" required>
                    <button type="submit" class="button button-primary newsletter-button" id="nl-submit">Subscribe</button>
                </div>
                <div class="newsletter-message" id="nl-status" style="display:none;">
                    <p class="newsletter-success" id="nl-msg"></p>
                </div>
            </form>
        </div>
    </div>
</section>
<script src="/js/forms.js"></script>
