{{- if .Site -}}
  {{- $app := .Site.Params.appearance | default "system" -}}
  {{- if or (eq $app "user") (eq $app "system") -}}
  <button class="gh-theme-toggle gh-icon-btn visible-mobile" aria-label="Toggle theme">
      <div class="theme-toggle-icon">
          <div class="moon-or-sun">
              <div class="moon-mask"></div>
          </div>
      </div>
  </button>
  {{- end -}}
{{- else -}}
  {{- if .isDesktopOnly -}}
  <button class="gh-theme-toggle gh-icon-btn visible-desktop" aria-label="Toggle theme">
      <div class="theme-toggle-icon">
          <div class="moon-or-sun">
              <div class="moon-mask"></div>
          </div>
      </div>
  </button>
  {{- end -}}
{{- end -}}
