<article class="feed post">
    {{ if .Params.featured_image }}
        <div class="feed-image">
            <img src="{{ .Params.featured_image }}" alt="{{ .Title }}" loading="lazy">
        </div>
    {{ end }}
    <div class="feed-wrapper">
        {{ if .Params.tags }}
            {{ with index .Params.tags 0 }}
            <div class="feed-tag">
                <span class="feed-tag-item tag-badge">
                    {{ partial "icons/feather-icons" (. | lower | urlize) }}
                    <span class="tag-badge-text">{{ . }}</span>
                </span>
            </div>
            {{ end }}
        {{ end }}
        <h2 class="body-1 feed-title">{{ .Title }}</h2>
        {{ $desc := .Params.description }}
        {{ if and $desc (ne $desc "undefined") }}
            <div class="feed-excerpt">{{ $desc | truncate 200 }}</div>
        {{ else if .Summary }}
            <div class="feed-excerpt">{{ .Summary | plainify | truncate 200 }}</div>
        {{ end }}
        <time class="body-1 feed-calendar" datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "02 Jan" }}
        </time>
    </div>
    <a class="u-permalink" href="{{ .RelPermalink }}" aria-label="{{ .Title }}"></a>
</article>
