.static-banner .kg-product-card-container,
.static-text .kg-product-card-container {
    border: none;
    box-shadow: none;
    padding: 0;
    position: relative;
    grid-row-gap: 2rem;
}

.static-text .kg-product-card-container {
    grid-row-gap: 2.8rem;
}

.static-banner .kg-product-card h4.kg-product-card-title {
    color: var(--primary-text-color);
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: var(--font-weight-bold);
    letter-spacing: 0;
}

.static-text .kg-product-card a.kg-product-card-button,
.static-banner .kg-product-card a.kg-product-card-button {
    background-color: transparent;
    color: var(--secondary-text-color);
    font-weight: var(--font-weight-regular);
    font-size: var(--base-text-size);
    text-align: left;
    justify-content: flex-start;
    padding: 0;
}

.static-text .kg-product-card a.kg-product-card-button span,
.static-banner .kg-product-card a.kg-product-card-button span {
    text-decoration: underline;
    text-underline-offset: 5px;;
    text-decoration-thickness: 1px !important;
}

.static-text .kg-product-card a.kg-product-card-button::after,
.static-banner .kg-product-card a.kg-product-card-button::after {
    content: "→";
    padding-left: .8rem;
}

.static-banner .kg-product-card-title-container {
    grid-column: 1 / span 2;
}

.static-banner .kg-product-card-rating,
.static-text .kg-product-card-rating {
    align-self: center;
    color: var(--color-mid-gray);
    grid-column: 1 / span 2;
    justify-self: start;
    padding: 0;
    gap: 6px;
    grid-row: 2;
}

.static-banner .kg-product-card-description {
    grid-column: 1 / span 2;
    grid-row: auto;
}

.static-banner .kg-product-card-image {
    grid-column: 1 / span 2;
    border-radius: var(--radii-medium);
    object-fit: cover;
    justify-self: start;
}

.static-banner .kg-product-card-rating-star svg,
.static-text .kg-product-card-rating-star svg,
.testimonials .kg-product-card-rating-star svg {
    width: 18px;
    height: 18px;
    fill: var(--secondary-text-color);
}

.static-text .kg-product-card .kg-product-card-description p {
    font-size: var(--base-text-size);
    line-height: 1.6;
}

.static-banner .kg-product-card .kg-product-card-description p {
    font-size: calc(var(--base-text-size) - .2rem);
    line-height: 1.6;
}

.static-text .kg-product-card .kg-product-card-description p {
    opacity: 1;
}

.tag-hash-no-title .feed-header,
.tag-hash-no-link .link-view-all {
    display: none;
}

.content-3col {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
}

.static-text .content-3col {
    row-gap: 8rem;
}

.static-banner .content-3col .kg-product-card,
.static-text .content-3col .kg-product-card {
    flex-grow: 1;
    width: calc((100% / 3) - 2.4rem);
    box-sizing: border-box;
}

.section-side-project .card {
    flex-grow: 1;
    width: calc((100% / 4) - 2.4rem);
    box-sizing: border-box;
}

.static-text .kg-product-card-image {
    width: 4rem;
    justify-self: flex-start;
}

/* testimonials */
.testimonials .kg-grid {
    row-gap: 5.2rem;
    column-gap: 4rem;
}

.testimonials .kg-product-card-container {
    border: none;
    box-shadow: none;
    padding: 0;
    position: relative;
    grid-row-gap: 2.4rem;
}

.testimonials .kg-product-card h4.kg-product-card-title {
    color: var(--primary-text-color);
    font-family: var(--gh-font-body, var(--font-base));
    line-height: 1.6;
    font-weight: 400;
    font-size: var(--base-text-size);
    letter-spacing: 0;
}

.kg-product-card-title a span,
.kg-product-card-description a span {
    text-decoration: underline;
    text-underline-offset: 5px;;
    text-decoration-thickness: 1px !important;
}

.testimonials .kg-product-card-title-container {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.testimonials .kg-product-card-rating {
    align-self: center;
    color: var(--color-mid-gray);
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: start;
    padding: 0;
    gap: 6px;
}

.testimonials .kg-product-card-description {
    grid-column: 1 / span 2;
    grid-row: auto;
}

.testimonials .kg-product-card-image {
    grid-column: 1 / span 2;
    grid-row: 3;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    object-fit: cover;
    justify-self: start;
}

.testimonials .kg-product-card .kg-product-card-description p {
    font-size: 1.6rem;
    line-height: 1.6;
}

/* logo */
.tag-hash-section-logos .kg-card.kg-image-card:not(.kg-width-full) img {
    border-radius: 0 !important;
}

.has-serif-title .kg-product-card h4.kg-product-card-title,
.has-serif-title .kg-product-card h4.kg-product-card-title {
    font-family: var(--font-serif);
    font-weight: var(--font-weight-regular);
    font-size: 2.2rem;
}

@media (max-width: 767px) {
    .static-banner .content-3col .kg-product-card,
    .static-text .content-3col .kg-product-card,
    .section-side-project .card {
        width: 100%;
        max-width: 100%;
    }

    .static-banner .content-3col .kg-product-card-container,
    .static-text .content-3col .kg-product-card-container {
        max-width: 100%;
    }
}