.kg-gallery-image {
    cursor: pointer;
}

.kg-image {
    margin-right: auto;
    margin-left: auto;
}

.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.kg-callout-card-accent a {
    text-decoration: underline;
}

blockquote.kg-blockquote-alt {
    font-size: clamp(2.8rem, 3vw, 4rem);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: 1.6;
    color: var(--primary-text-color);
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    grid-column: wide-start/wide-end;
}

.kg-canvas > blockquote.kg-blockquote-alt {
    padding: 2.4rem 0;
    margin-left: 0;
    margin-right: 0;
}

.has-serif-title .kg-canvas > blockquote.kg-blockquote-alt  {
    font-family: var(--font-serif);
    font-weight: var(--font-weight-regular);
}

.kg-card.kg-header-card h2.kg-header-card-header {
    letter-spacing: -0.02em;
}

.kg-header-card h2.kg-header-card-header strong {
    letter-spacing: -0.015em;
}

.has-serif-title .kg-card.kg-header-card h2.kg-header-card-header {
    font-family: var(--font-serif);
    letter-spacing: -0.01em;
}

.has-serif-body .kg-header-card h3.kg-header-card-subheader {
    font-family: var(--font-serif);
}

.kg-product-card-description {
    font-family: var(--gh-font-body, var(--font-base));
}

/* Overwrite style of native Ghost elements */
.kg-layout-split .kg-header-card-content {
    grid-template-columns: 38% 62% !important;
}

.kg-header-card.kg-width-full.kg-layout-split h2.kg-header-card-heading, 
.kg-signup-card.kg-width-full.kg-layout-split h2.kg-signup-card-heading {
    font-size: clamp(3.6rem,4vw,5.2rem) !important;
    line-height: 1.2;
}

.kg-header-card.kg-width-full.kg-layout-split .kg-header-card-subheading, 
.kg-header-card.kg-width-wide .kg-header-card-subheading {
    font-size: clamp(1.05em,2vw,2rem) !important;
    line-height: 1.4;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 2px !important;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 2px 0 0 !important;
}

.kg-card.kg-button-card a.kg-btn {
    padding: 0 2.4rem;
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
    height: 2.7em;
    margin: 2rem 0;
}

.kg-video-card,
.kg-image-card:not(.kg-width-full) {
    border-radius: var(--radii-medium);
    overflow: hidden;
}

.kg-card.kg-toggle-card {
    box-shadow: inset 0 0 1px 0 var(--divider-color);
    padding: 2.4rem;
    border-radius: var(--radii-large);
    background-color: var(--hero-background-color);
}

.kg-card.kg-toggle-card + .kg-toggle-card {
    /* margin-top: 0; */
}

.kg-card.kg-toggle-card .kg-toggle-heading-text {
    font-size: calc( ar(--base-text-size) + .4rem );
    font-weight: var(--font-weight-bold);
}

.has-serif-title .kg-toggle-heading-text {
    font-family: var(--font-serif);
    font-weight: var(--font-weight-regular);
}

/* default radius */
.kg-card.kg-signup-card:not(.kg-width-full),
.kg-card.kg-file-card .kg-file-card-container,
.kg-card.kg-audio-card,
.kg-card.kg-callout-card,
.kg-card.kg-product-card .kg-product-card-container,
.single-cta,
.kg-card.kg-embed-card iframe,
iframe,
.kg-card.kg-bookmark-card a.kg-bookmark-container,
.kg-card.kg-video-card:not(.kg-width-full) .kg-video-container,
.kg-card.kg-gallery-card img,
.kg-card.kg-image-card:not(.kg-width-full) img,
.kg-card.kg-button-card a,
.kg-card .kg-header-card-button,
.kg-signup-card-fields {
    border-radius: var(--radii-medium) !important;
    overflow: hidden;
}

.kg-card .kg-signup-card-button {
    border-radius: calc(var(--radii-medium) - .2rem );
    height: auto;
}

.kg-card.kg-header-card h2.kg-header-card-header strong {
    font-weight: var(--font-weight-bold);
}

.kg-card .kg-product-card-container {
    max-width: 100%;
    font-family: var(--gh-font-body, var(--font-base));
    color: var(--secondary-text-color);
}

.kg-card .kg-product-card-container {
    background-color: transparent;
}

.kg-card .kg-bookmark-container,
.kg-card .kg-file-card-container,
.kg-audio-card {
    background: transparent !important;
    color: var(--primary-text-color) !important;
}

.kg-card .kg-audio-player-container button, 
.kg-card .kg-video-card button {
    color: var(--primary-text-color) !important;
}

/* .kg-image-card:not(.kg-card-hascaption)+.kg-image-card {
    margin-top: 0 !important;
} */


/* table */

.kg-canvas table {
    grid-column: full;
    padding: 0 8vw;
}

.gh-content table:not(.gist table) {
    background: none;
    overflow-x: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: var(--content-width);
    table-layout: fixed;
    border-collapse: collapse;
}

.gh-content table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.6rem;
    margin: 2rem 0;
}

.gh-content table:not(.gist table) td,
.gh-content table:not(.gist table) th {
    padding: 1.6rem 3.2rem 1.6rem 0;
    text-align: left;
    border: none;
    border-bottom: 1px solid var(--divider-color);
    white-space: nowrap;
    white-space: normal;
    min-width: unset;
    font-size: 1em;
    /* min-width: 20rem; */
}

.gh-content table:not(.gist table) th {
    font-weight: 600;
    text-transform: none;
    color: var(--primary-text-color);
    font-size: 1em;
}

.gh-content table tr:last-child td {
    border-bottom: none;
}

.gh-content table:not(.gist table) th {
    background-color: transparent;
    /* min-width: calc(var(--content-width) / 3); */
}

.gh-content table:not(.gist table) tr {
    min-width: var(--content-width);
}

.gh-content table:not(.gist table) td:first-child,
.gh-content table:not(.gist table) th:first-child {
    background-image: linear-gradient(90deg, var(--background-color) 50%, hsla(0, 0%, 100%, 0));
    background-repeat: no-repeat;
    background-size: 20px 100%;
}

.gh-content table:not(.gist table) td:last-child,
.gh-content table:not(.gist table) th:last-child {
    background-image: linear-gradient(270deg, var(--background-color) 50%, hsla(0, 0%, 100%, 0));
    background-repeat: no-repeat;
    background-size: 20px 100%;
    background-position: 100% 0;
}

.gh-content table:not(.highlight) tr:hover td {
    background-color: transparent;
}

.gh-content table:not(.gist table) thead,
.gh-content table:not(.gist table) tbody {
    /* display: table; */
    width: 100%;
}


@media (max-width: 640px) {
    .kg-layout-split .kg-header-card-content {
        grid-template-columns: 1fr !important;;
    }
}